
:root {
    --max-width: 1024px;
    --img-filter: grayscale(70%) sepia(30%);
    --img-opacity: 0.5;
    --main-color: #2d2d30;
}

body {
    background-color: var(--main-color);
    font: 400 16px/1.8 Play, sans-serif;
    color: #777;
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
}

.content-container {
    padding-top: 60px;
    padding-bottom: 10px;
}

p.content-header {
    font-size: 36px;
}

.content-about .row {
    padding-left: 50px;
}

.content-about {
    background-image: url("img/about_background.jpg");
    -webkit-filter: var(--img-filter);
    filter: var(--img-filter);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% auto;
    color: var(--main-color);
}

.stretchy-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.navbar {
    font-family: Play, sans-serif;
    font-size: 14px !important;
    font-weight: bold;
    margin-bottom: 0;
    background-color: var(--main-color);
    border: 0;
    letter-spacing: 4px;
    opacity: 1.0;
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
}

.navbar li a, .navbar {
    color: gray !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
    background-color: #222 !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-brand {
    color: white !important;
}

.carousel-inner img {
    -webkit-filter: var(--img-filter);
    filter: var(--img-filter);
    opacity: var(--img-opacity);
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: white !important;
}

img.about-img {
    -webkit-filter: var(--img-filter);
    filter: var(--img-filter);
    opacity: var(--img-opacity);
}

#bil-portfolio {
    color: white;
}

.thumbnail {
    padding: 20px 0 15px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
}

.thumbnail p {
    margin-top: 15px;
    color: #aaaaaa;
    margin-left: 40px;
    margin-right: 40px;
}

.thumbnail p strong {
    color: white;
}

.thumbnail > img {
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px gray);
}

.row .is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row .is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

#bil-contacts {
    background-color: #FFFFF9;
    padding: 20px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

footer {
    background-color: var(--main-color);
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

footer #gogbajbobo {
    color: #a6deff;
}


@media (max-width: 350px) {
    body {
        font-size: 14px !important;
    }
}

@media (max-width: 560px) {
    .carousel-caption {
        display: none;
    }
    .content-about {
        background-image: url("img/about_background_xs.jpg");
    }
    .stretchy-wrapper {
        padding-bottom: 150%;
    }
}

@media (max-width: 768px) {
    .content-container {
        padding-top: 40px;
    }
    .content-about .row {
        padding-left: 25px;
    }
}
