.carousel-inner img {
    -webkit-filter: grayscale(70%) sepia(30%);
    filter: grayscale(70%) sepia(30%);
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: white !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

